/* -STRUCTURE
--------------------------------------------------*/
body{
    background-color: rgb(6, 130, 81);
    display: grid;
    grid-template-areas:
    "header header header" 
    "main main main"
    "footer footer footer"
    ;
    margin: 0px;
}
table, th, tr, th{
    border: 2px black solid;
}
th{
    background-color: rgb(207, 243, 177, .5);
}
tr:nth-child(odd){
    background-color: rgba(16, 244, 92, .5);
}
tr:nth-child(even){
    background-color: rgba(7, 172, 62, .5);
}
p{
    background-color: rgb(209, 225, 239);
}

table:hover{
    background-color: rgba(49, 96, 80, 0.546);
}

/* -HEADER, MAIN, ASIDE, FOOTER
--------------------------------------------------*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    max-height: 40vh;
}
section{
    padding: 30px;
    text-align: center;
    min-height: 20vh;
    max-height: 1000vh;
    background-image: url("../../media/img/fondo.jpg");
    background-size: 300px;
    font-size: 20px;
}
footer{
    padding: 30px;
    min-height: 20vh;
    max-height: 200vh;
}
    /* Se eligió este color porque tiene que ver con la naturaleza 
    y nuestro tema habla de el medio ambiente, además no lastima los ojos*/
.grid-header{
    background-color: rgb(204, 238, 187);
    grid-area: header;
}
.grid-section{
    background-color: rgb(255, 255, 255);
    grid-area: main;
}
.grid-footer{
    background-color: rgb(204, 238, 187);
    grid-area: footer;
}

/* -NAV
--------------------------------------------------*/

/* --------Clses------ */
.disenoLink{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    width: 50%;
    height: 10vh;
}
.correos{
    font-size: 20px;
}
.etiquetaA{
    cursor: pointer;
}
.etiquetaA:link{
    color: rgb(0, 157, 255);
}
.etiquetaA:hover{
    background-color: rgb(201, 230, 255);
    color:blue;
}
.etiquetaA:active{
    color:brown;
}
.imagen{
    width: 200px;
    height: 100px;
    border: 5px rgb(220, 168, 255) groove;
}
/* --------Id--------- */
#centrarTabla{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#fondoTexto{
    border: 4px black dotted;
    border-radius: 20px;

    padding: 20px;
    background-color: rgb(176, 218, 255);
}
#fondoTexto:hover{
    border: 5px gray solid;
    background-color: rgb(123, 153, 180);
}
#estilo{
    display: flex  !important;
    justify-content: left !important;
    align-items: left !important;
    flex-direction: column;
}